@import "tailwindcss";

:root {
  --primary: #1dab62;
  --primaryBg: #ffffff;
  --secondary: #d8fcd2;
  --secondaryBg :#f2ece4;
  --text: #0a0a0a;
  --highlightedText: #1dab62;
  --warningLabel: #f70a0a;
}
.light{
  --primary: #1dab62;
  --primaryBg: #ffffff;
  --secondary: #d8fcd2;
  --secondaryBg :#f2ece4;
  --text: #0a0a0a;
  --highlightedText: #1dab62;
  --warningLabel: #f70a0a;
}
.dark{
  --primary: #144d37;
  --primaryBg: #161717;
  --secondary: #144d37;
  --secondaryBg :#2d2e2e;
  --text: #ffffff;
  --highlightedText: #ffffff;
  --warningLabel: #f70a0a;

}

.blue{
  --primary: #1d43ab;
  --primaryBg: #ffffff;
  --secondary: #d2d3fc;
  --secondaryBg :#e4e4f2;
  --text: #0a0a0a;
  --highlightedText: #1d4fab;
  --warningLabel: #f70a0a;
}

.red{
  --primary: #ab391d;
  --primaryBg: #ffffff;
  --secondary: #fcd5d2;
  --secondaryBg :#f2e8e4;
  --text: #0a0a0a;
  --highlightedText: #ab301d;
  --warningLabel: #f70a0a;

}
@theme inline {
  --color-primary: var(--primary);
  --color-primaryBg: var(--primaryBg);
  --color-secondary: var(--secondary);
  --color-secondaryBg: var(--secondaryBg);
  --color-text: var(--text);
  --color-highlightedText: var(--highlightedText);
  --color-warningLabel: var(--warningLabel);
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--primaryBg);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 9999px;
  border: 2px solid var(--primaryBg);
}